body {
	word-break: break-all;
}

.weui-tab__bd-item {
	width: 100%;
}

.weui-navbar {
	background: #F2F2F2;
}

.weui-navbar__item {
	font-size: 15px;
	color: #323232;
	background: #F2F2F2;
}

.weui-navbar__item div {
	padding: 5px;
}

.weui-navbar__item.weui-bar__item--on {
	font-size: 15px;
	color: #323232;
	background: #F2F2F2;
}

.weui-navbar__item.weui-bar__item--on div {
	border-bottom: 2px solid deepskyblue;
}

.weui-tab__bd-item.weui-pull-to-refresh {
	top: 60px;
	bottom: 46px;
}

.weui-pull-to-refresh {
	margin-top: -60px;
}

.weui-media-box:before {
	left: 0px;
}

.weui-media-box__title {
	color: #46BDFF;
}

.weui-media-box_appmsg .weui-media-box__hd {
	margin-right: 15px;
	height: 40px;
	width: 40px;
}

.class-circle-headimage-hd {
	/*发布者头像父元素*/
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.class-circle-headimage {
	/*发布者头像*/
	height: initial;
	max-height: none !important;
}

.weui-media-box__bd {
	display: inline-block;
}

.weui-media-box__title {
	/*发布人名称*/
	float: left;
	max-width: 100%;
	padding-right: 5px;
}

.class-circle-mark {
	/*发布者标识*/
	background-color: green;
	border-radius: 10px;
	padding: 8px 10px 6px 10px;
	margin: 2px 0;
	display: inline-block;
	float: left;
	font-size: 10px;
	line-height: 1;
	color: white;
}

.class-circle-title {
	/*发布者信息区域*/
	width: 100%;
	height: auto;
}

.weui-media-box__desc {
	/*发布时间*/
	display: block;
	width: 100%;
}

.class-circle-grids {
	/*多张图片区域*/
	width: 100%;
	line-height: 0;
	font-size: 0;
	font-family: inherit;
}

.class-circle-grids-item {
	/*多张图片*/
	width: 32%;
	overflow: hidden;
	display: inline-block;
	height: 0px;
	padding-top: 16%;
	padding-bottom: 16%;
}

.class-circle-grids .class-circle-grids-item:nth-child(2),
.class-circle-grids .class-circle-grids-item:nth-child(5),
.class-circle-grids .class-circle-grids-item:nth-child(8) {
	/*多张图片*/
	margin: 0 2%;
}

.class-circle-grids .class-circle-grids-item:nth-child(4),
.class-circle-grids .class-circle-grids-item:nth-child(5),
.class-circle-grids .class-circle-grids-item:nth-child(6),
.class-circle-grids .class-circle-grids-item:nth-child(7),
.class-circle-grids .class-circle-grids-item:nth-child(8),
.class-circle-grids .class-circle-grids-item:nth-child(9) {
	/*多张图片*/
	margin-top: 2%;
}

.class-circle-grids-item img {
	/*多张图片*/
	width: 100%;
	position: relative;
	-webkit-transform: translateY(-50%);
}

.class-circle-content-img {
	/*内容的图片为一张的情况*/
	max-width: 100%;
	max-height: 30%;
}

.class-circle-function {
	/*功能区域*/
	color: #BBBBBB;
	display: block;
	height: 25px;
}

.class-circle-function .class-circle-views {
	/*浏览数*/
	float: left;
}

.class-circle-function .icon-dianzan,
.class-circle-function .icon-newmessage,
.class-circle-function .icon-trash {
	/*点赞，评论，删除按钮*/
	float: right;
	margin: 0 5px;
}

.class-circle-praise-comment {
	/*点赞和评论区域*/
	background-color: #F2F2F2;
	position: relative;
	margin-top: 10px;
	padding: 10px;
}

.class-circle-triangle {
	/*点赞评论区域的三角形*/
	position: absolute;
	top: -18px;
	margin-left: 10px;
	height: 0px;
	width: 0px;
	border-width: 10px 10px;
	border-style: solid;
	border-color: transparent transparent #F2F2F2;
}

.class-circle-praise-comment-line {
	/*点赞人和评论人之间的横线*/
	height: 1px;
	background: gainsboro;
	width: 100%;
	margin: 5px 0;
}

.class-circle-praiser:before {
	/*点赞人*/
	content: ",";
	color: #323232;
	margin-right: 6px;
}

.class-circle-praise-bg .class-circle-praiser:nth-child(1):before {
	/*第一个点赞人*/
	content: "\e63c";
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	color: #46BDFF;
}

.class-circle-praiser,
.class-circle-comment-name {
	/*点赞人和评论人的名字*/
	display: inline;
	color: #46BDFF;
}

.class-circle-comment-content {
	/*评论内容*/
	display: inline;
}

.class-circle-comment-item {
	/*每一条评论*/
	font-size: 0;
	-webkit-text-size-adjust: none;
}

.class-circle-comment-name,
.class-circle-comment-content {
	/*评论人的名称和评论内容*/
	font-size: 16px;
}

.class-circle-report {
	/*发表动态*/
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: white;
	padding: 10px 0;
	border-top: 1px solid gainsboro;
	color: #46BDFF;
}

.weui-tab {
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 46px;
}

.weui-tab__bd,
.weui-loadmore {
	/*加载更多*/
	padding-bottom: 46px;
}

.weui-photo-browser-modal .photo-container {
	/*查看图片时的背景*/
	justify-content: center;
}

.weui-photo-browser-modal {
	/*查看图片时的背景*/
	z-index: 999;
}

.class-circle-content-limit {
	/*动态内容限制8行*/
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}

.class-circle-show-all {
	/*展开全部按钮*/
	color: #46BDFF;
}

.relate-name {
	/*与我相关人员名字*/
	color: #323232;
}

.relate-reply {
	/*与我相关回复功能*/
	float: right;
	color: #46BDFF;
	margin-left: 10px;
}

.relate-reply-type {
	/*与我相关类型*/
	float: left;
	padding-left: 5px;
}

.relate-reply-content {
	/*与我相关原始内容区域*/
	position: relative;
	display: block;
	width: 100%;
	line-height: 1;
	font-size: 0;
	background-color: #F2F2F2;
	height: 50px;
}

.relate-reply-type-praise .relate-reply-content {
	margin: 5px 0;
}

.relate-reply-content-img {
	/*与我相关原始内容图片*/
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	float: left;
}

.relate-reply-content-img img {
	/*与我相关原始内容图片*/
	width: 100%;
}

.relate-reply-content-text {
	/*与我相关原始内容文字*/
	font-size: 16px;
	line-height: 50px;
}

.relate-reply-content-name {
	/*与我相关原始内容人员名称*/
	color: #46BDFF;
	display: inline;
	margin-left: 5px;
}

.relate-reply-content-limit {
	/*与我相关原始内容限制一行*/
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.class-circle-add {
	width: 100%;
}

.class-circle-add {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.class-circle-add .weui-textarea {
	margin: 2% 4%;
	width: 92%;
}

.class-circle-add .class-circle-add-media {
	display: block;
	padding-left: 4%;
	border-bottom: 1px solid gainsboro;
	height: 30px;
}

.class-circle-add .class-circle-add-media div {
	font-size: 30px;
	color: #B2B2B2;
	display: inline-block;
	line-height: 1;
}

.class-circle-add .weui-btn_primary {
	margin-left: 5%;
	width: 90%;
	background-color: #46BDFF;
	border-color: #46BDFF;
	margin-top: 50px;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
	background-color: #46BDFF;
	border-color: #46BDFF;
	opacity: .5;
}